/*
 *  Usage examples:
 *
 *    Replace word with icon
 *
 *      <a class="icon-font">twitter</a>
 *
 *    Add icon before word
 *
 *      <a class="icon-twitter">Twitter</a>
 *
 *    Add icon after word
 *
 *      <a class="icon-twitter right">Twitter</a>
 *
 *  Supported words:
 *    - twitter
 *    - github
 *    - dribbble
 *    - wolf
 *
 */

@font-face {
  font-family: 'iconfont';
  src: url('/fonts/Iconset-Regular.eot'); /* IE9 Compat Modes */
  src: url('/fonts/Iconset-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/Iconset-Regular.woff') format('woff'), /* Modern Browsers */
       url('/fonts/Iconset-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('/fonts/Iconset-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  font-weight: normal;
  font-style: normal;
}

/* This triggers a redraw in IE to Fix IE8's :before content rendering. */
html:hover [class^="ss-"]{-ms-zoom: 1;}

.i-font,
[class^="i-"]::before,
[class^="i-"].right::after,
[class*=" i-"]::before,
[class*=" i-"].right::after {
	font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

[class^="i-"].right::before,
[class*=" i-"].right::before {
  display: none;
  content: "";
}

.i-wolf::before,
.i-wolf.right::after {
  content: "";
}

.i-twitter::before,
.i-twitter.right::after {
  content: "";
}

.i-dribbble::before,
.i-dribbble.right::after {
  content: "";
}

.i-github::before,
.i-github.right::after {
  content: "";
}