//@import 'layouts/empty';


.l-post-wrap {
	margin: 0 1.618rem;

	li {
		margin-left: 30px;
	}
}

.l-primary-nav {
	padding: 0 1.618rem;
	margin-bottom: 1.618rem;
}

[class*="l-"] {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

.l-align-left {
	float: left;
}

.l-align-right {
	float: right;
}