/****************
 * Folder Paths *
 ****************/

$img:   '/img';

/**********
 * Images *
 **********/

/**********
 * Colors *
 **********/

$c-brand: 	  #E05200;
$c-confirm:   #8ABF17 !default; // Green
$c-alert:     #CC333F !default; // red

$c-10-shades-of-grey: darken(#fff, 10%);
$c-20-shades-of-grey: darken(#fff, 20%);
$c-30-shades-of-grey: darken(#fff, 30%);
$c-40-shades-of-grey: darken(#fff, 40%);
$c-50-shades-of-grey: darken(#fff, 50%);
$c-60-shades-of-grey: darken(#fff, 60%);
$c-70-shades-of-grey: darken(#fff, 70%);
$c-80-shades-of-grey: darken(#fff, 80%);
$c-90-shades-of-grey: darken(#fff, 90%);

/************
 * Defaults *
 ************/