/*
 * To-Dos:
 *
 * Global:
 *    - Logo Placement
 *    - Social Nav
 *    - Footer content
 *    - Footer Styling
 *
 * Single post:
 *    - Fix ul / ol styling
 *    - Work on date posted styling
 * 
 * Landing Page:
 *    - Make Post list navigation
 *    - style pagination
 * 
 */

/* Modular Scale ---------------------- 16px @ 1:1.618   10px @ 1:1.618  ----------------------
Pixels      Ems         Ems @ 16    % of 13
759.989     47.499      47.499      5,846.069
751.538     46.971      46.971      5,781.062
469.709     29.357      29.357      3,613.146
464.486     29.03       29.03       3,572.969
290.302     18.144      18.144      2,233.092
287.074     17.942      17.942      2,208.262
179.420     11.214      11.214      1,380.154
177.425     11.089      11.089      1,364.808
110.890     6.931       6.931       853.000
109.657     6.854       6.854       843.515
68.535      4.283       4.283       527.192
67.773      4.236       4.236       521.331
42.358      2.647       2.647       325.831
41.887      2.618       2.618       322.208
26.179      1.636       1.636       201.377
25.888      1.618       1.618       199.138
16.180      1.011       1.011       124.462
16.000      1           1           123.077
10.000      0.625       0.625       76.923
9.889       0.618       0.618       76.069
6.180       0.386       0.386       47.538
6.112       0.382       0.382       47.015
3.820       0.239       0.239       29.385
3.778       0.236       0.236       29.062
2.361       0.148       0.148       18.162
2.335       0.146       0.146       17.962
1.459       0.091       0.091       11.223
1.443       0.09        0.09        11.100 */

@import 'icon-font',
        'compass/css3',
        'compass/typography/text/force-wrap',
        'variables',
        'mixins',
        'base',
        'layouts',
        'modules',
        'states';

@include post-styling(".article-wrap");

body {
  color: $c-90-shades-of-grey;
  max-width: 46.971rem;
  font-size: 1.125rem;
  margin: 0 auto;

  .-webkit- & {
    -webkit-backface-visibility: hidden;
  }
}

a {
  color: $c-brand;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

::selection {
  background: $c-brand; /* Safari */
  color: #fff;
}

::-moz-selection {
  background: $c-brand; /* Firefox */
  color: #fff;
}









.wolf-logo {
  
  color: $c-20-shades-of-grey;
  vertical-align: middle; 
  padding: 1rem 0.625rem;
  display: table-cell;
  font-size: 1.25rem;
  height: 1.618rem;

  &::before {
    color: $c-brand !important;
  }
}

.wolf-logo-wrap {
}










@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hover-animation {
  transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000);

  &:hover {
      transition: all 0;
  }
}

/*nav*/.primary-nav {
  animation-name: fadeInDown; /* Called on page load */
  animation-fill-mode: both;
  animation-duration: 1s;

  border-bottom: 1px solid $c-10-shades-of-grey;  
  background-color: #FFF;

  /*nav*/&:hover {
    border-bottom: 1px solid $c-20-shades-of-grey;  

    /*a*/.text-nav {
      transition: all 0 cubic-bezier(0.230, 1.000, 0.320, 1.000);

      color: $c-30-shades-of-grey;
    }

    /*a*/.active-nav,
    /*a*/.text-nav:hover {
      border-bottom: 3px solid $c-brand;
      color: $c-brand;
    }
  }

  a {
    color: $c-20-shades-of-grey;

    &:hover {
      text-decoration: none;
      color: $c-brand;
    }
  }
}

/*ul*/.list-nav {
  font-family: "sommet-slab";

  li {
    margin-right: 1.011rem;
    display: table;
    float: left;
  }
}

/*ul*/.list-nav-right {
  li {
    margin-right: 0;
    margin-left: 1.011rem;
  }
}


/*a*/.text-nav {
  color: $c-20-shades-of-grey;
  vertical-align: middle; 
  padding: 1rem 0.625rem;
  display: table-cell;
  font-size: 1.25rem;
  height: 1.618rem;
  border-bottom: 3px solid #fff;
}

/*a*/.active-nav {
  border-bottom: 3px solid $c-20-shades-of-grey;
  color: $c-30-shades-of-grey;
  text-decoration: none;
}

/*ul*/.icon-nav {
  position: absolute;
  right: 1.618rem;
  bottom: 0;
  top: 0;

  li {
    float: left;
    display: table;
    height: 100%;

    a {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

  

/***********
 * Layouts *
 ***********/

 // header
 // post list

/***********
 * Modules *
 ***********/

 // conjoined buttons
 // icon button
 // post box
 // conjoined list
 // generic list ( ul with border on top and bottom )
 // avatar

/**********
 * States *
 **********/

 // has-responses
 // is-single-post
 // is-liked
 // is-active ( :active when appropriate )