body {
	background-color: #fff;
	margin: 0;
}

.page {
	width: 100%;
	overflow: hidden;
	background-color: #E3E3E3;
}

section {
	background-color: #C6C6C6;
	max-width: 800px;
	margin: 0 auto;
}

article {
	background-color: #AAAAAA;
	/*width: 600px;*/
	margin-left: 200px;
}

pre {
	position: relative;
	padding: 20px;
	background-color: #8E8E8E;
}

pre::before {
	content: '';
	display: block;
	position: absolute;
	background-color: #555555;
	height: 50px;
	width: 50px;
	left: -50px;
}

pre::after {
	content: '';
	background-color: #393939;
	position: absolute;
	display: block;
	width: 1000px;
	top: 0;
	bottom: 0;
	left: 100%;
	z-index: 1;
}

pre > code {
	display: table;
	background-color: #717171;
	overflow: scroll;
	position: relative;
	z-index: 2;
}